footer {
    background-color: var(--background-black);
    font-size: 14px;
}
.foot {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--background-white);
}

.foot p {
    margin: 1%;
}
.foot a{
    color: var(--background-white);
}