@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@500;600;800&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  list-style: none;
  font-family: "Montserrat";
  font-size: 1em;
}

/* -------------------------HEADER----------------------------*/

header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1% 2%;
color:white;
background-color: black;
}

header .search-input{
  width: 25%;
  justify-content: center;
}

header>div{
width: 10%;
display: flex;
justify-content: space-between;
align-items: center;
}

input{
  width: 85%;
  padding: 1% 2%;
  border-radius: 20px;
  margin-right: 1%;
}

/* ----------------------------------------MAIN-------------------------------------------------*/

/* -------------------------Movie----------------------------*/

.movie{
display: flex;
justify-content: center;
gap: 3%;
width: 100%;
height: 50%;
padding: 2% 10%;
}


.movie>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  
}

.movie div div {
  display: flex;
  gap: 2%;
}

.movie div button {
  padding: 3%;
  border-radius: 6px;
  border-style: none;
}

.movie-poster{
  width: 20%;
  height: 100%;
  align-self: center;
  border-color: black;
  border-style: dashed;
  padding: 10% 5%;
  }

.button-rate{
  color: white;
  background-color: rgb(170, 0, 0);
}

/* ---------------------Searchabar-----------------*/

.search-bar{
  display: grid;
  grid-template: 1fr 1fr/ 20% 20% 20% 20%  20% ;
  height: 15vh;
}

.search-bar input {
  height: 2em;
}


main>section>ul{
display: flex;
justify-content: space-around;
margin: 2% 10%;
}

